.widgetBlock {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.previewDisplay {
  width: 400px;
}

.submitButton {
  width: 100px;
  height: 40px;
  background-color: chartreuse;
  margin: auto;
}

.switchPaletteButtonBlock {
  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
  align-items: center;
  align-content: center;

  margin: auto;

  width: 20px;
  height: 40px;
}

.switchPaletteButtonNext {
  content: "";

  margin: 5px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #000;
}

.switchPaletteButtonPrev {
  content: "";

  margin: 5px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #000;
}
