.widgetBlock {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.previewDisplay {
  width: 400px;
}

.submitButton {
  width: 100px;
  height: 40px;
  background-color: chartreuse;
  margin: auto;
}
